/* upper header section */
body {
    font-family: josefin Sans;
    overflow-x: hidden;
}

.upper-header {
    background: #7E33E0;
    height: 44px;
    display: flex;
    justify-content: space-around;
}

.upper-mail-phone-div {
    display: flex;
    column-gap: 35px
}

.upper-header-mail {
    font-family: josefin Sans;
    /* Width: 171px; */
    /* height: 16px; */
    /* top: 13px; */
    /* left: 403px; */
    /* size: 16px; */
    line-height: 16px;
    color: #F1F1F1;

}

.upper-mail-div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F1F1F1;
}

.upper-phone-div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F1F1F1;
}

.upper-header-items {
    display: flex;
    column-gap: 15px;
    color: #F1F1F1;

}

/* header section */
.hekto {
    width: 98px;
    height: 34px;
    size: 34px;
}

.header-menu {
    display: flex;
    column-gap: 30px;
}

.header-menu :hover {
    color: #FB2E86;
}

.search-icon {
    background-color: #FB2E86;
    padding: 4px 10px;
    border-radius: 2px;


}

.input-box {
    display: flex;

}

.input {
    border: 2px solid #E7E6EF;
}

.header-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner part */

.banner {
    background-color: #F2F0FF;
    /* width: 1920px; */
    height: 764px;
}

.banner-part {

    display: flex;
}

.best-furniture {
    width: 230px;
    height: 28px;
    padding-left: 0px;
    padding-top: 103px;
    font-family: lato;
    color: #FB2E86;
    margin-left: -80px;


}

.shop-btn {
    background: #FB2E86;
    border-radius: 2px;
    width: 163px;
    height: 50px;
    /* left: 375px;
    top: 600px; */
    border: 1px solid #FB2E86;
    margin-left: -80px;
    color: white;
}

.banner-img1 {
    width: 387px;
    height: 387px;
    margin-left: -60px;
}

.banner-img2 {
    width: 510px;
    height: 510px;
    margin-left: -98px;
}

.new-furniture {
    width: 615px;
    height: 140px;
    left: 375px;
    font-size: 53px;
    line-height: 82px;
    /* letter-spacing: 0.015em; */
    margin-left: -80px;
    margin-top: -25px;
    font-weight: 500;
}

.banner-lorem {
    margin-left: -80px;
    margin-top: -18px;
    color: #8A8FB9;
    font-size: 16px;
    line-height: 28px;
    width: 559px;
    height: 56px;
}

.banner-li {
    width: 15px;
    height: 15px;
    margin-left: 114px;
    margin-top: 125px;
    border-radius: 50%;
    background: #FB2E86;
    color: #FB2E86;

}

/* featured part */

.featured-title {

    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    text-align: center;
}

.all-card {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
}

.card {
    width: 270px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card-content {
    background-color: blue;
    padding-top: 15px;
}

.card:hover .card-content2 {
    background-color: blue;
    padding-top: 25px;
    padding-bottom: px;
}

.card:hover .card-img2 {
    /* background-color: #FFFFFF; */
}

.card:hover .card-img {
    background-color: #FFFFFF;
}


.card:hover .card-title {
    color: white;
}


.card:hover .card-code {
    color: white;
}

.card:hover .card-price {
    color: white;
}



.card-img {
    width: 178px;
    height: 178px;
    background-color: #F6F7FB;
    padding: 46px 12px 52px 40px;
    padding-top: 46px;
    padding-bottom: 12px;
    padding-right: 52px;
    padding-left: 40px;
}

.card-img2 {
    width: 130px;
    height: 150px;
    /* background-color: #F7F7F7; */

    padding-top: 46px;
    padding-bottom: 39px;
    padding-right: 79px;
    padding-left: 61px;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    left: 26.3%;
    right: 27.04%;
    top: 69.53%;
    bottom: 24.38%;
    color: #FB2E86;
    text-align: center;

}

.hr {
    display: flex;
    margin-top: -15px;

}

.hr1 {
    width: 14px;
    height: 4px;
    background: #05E6B7;
    border-radius: 10px;
    border: 1px solid #05E6B7;
    margin-left: 103px !important;
}

.hr2 {
    width: 14px;
    height: 4px;
    background: #F701A8;
    border-radius: 10px;
    border: 1px solid #F701A8;
    /* margin-right: 103px !important; */
}

.hr3 {
    width: 14px;
    height: 4px;
    background: #00009D;
    border-radius: 10px;
    border: 1px solid #00009D;
    margin-right: 100px !important;
}

.card-code {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #151875;
    margin-top: -0.2px;
}

.card-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151875;
    text-align: center;
    margin-top: -4px;
}


.card-info {
    background-color: white;
}


.view-btn {
    background: #08D15F;
    border-radius: 2px;
    Width: 94px;
    Height: 29px;
    border: 1px solid #08D15F;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: -40px;
    padding-top: 5px;
    color: #F7F7F7;
    visibility: hidden;
    padding-left: 10px;
}

.card:hover .view-btn {
    background: #08D15F;
    border-radius: 2px;
    Width: 94px;
    Height: 29px;
    border: 1px solid #08D15F;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 10px;
    padding-top: 5px;
    color: white;
    padding-left: 10px;
    visibility: visible;
}

/* .card:hover .card-btn {
    margin-top: -50px;
} */

/* latest product part */

.latest-products {
    /* width: 338px; */
    height: 42px;
    left: 791px;
    top: 1594px;
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    text-align: center;


}

.latest-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    font-weight: 400;
    font-size: 18px;
}

.latest-item :hover {
    color: #FB2E86;
    text-decoration: underline;
}

.single-item {
    font-weight: 400;
    font-size: 18px;
}

.latest-card {
    width: 360px;
    background: #F7F7F7;
}

.latest-card2 {
    width: 360px;
    height: 276px;
    background: #F7F7F7;
}

.latest-card img {
    width: 223px;
    height: 229px;
    padding-top: 33px;
    padding-bottom: 8px;
    padding-right: 64px;
    padding-left: 73px;
}

.latest-card2 img {
    width: 223px;
    height: 229px;
    padding-top: 33px;
    padding-bottom: 8px;
    padding-right: 64px;
    padding-left: 73px;
}

.latest-price {
    display: flex;
    column-gap: 10px;
}

.latest-details {
    display: flex;
    justify-content: space-between;
    width: 360px;

}

.latest-details2 {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.comfort {
    color: #151875;
    font-size: 14px;
    line-height: 16px;

}

.lates-price {
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FB2448;
}

.latest-all-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1px;
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    row-gap: 125px;
}

.cart {
    width: 13px;
    height: 10px;
    color: #2F1AC4;
    margin-top: -1000px;
    background: #EEEFFB;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}

.i {
    margin-top: -140px;
    visibility: hidden;
}

.latest-card2:hover .i {
    visibility: visible;
    margin-left: 20px;
}

.img1 {
    visibility: hidden;
}

.latest-card2:hover .img1 {
    visibility: visible;
}

.latest-card2:hover {
    background-color: white;
}

.love {
    color: #2F1AC4;
    width: 14px;
    height: 13px;
}

/* what-shopex part */

.what-shopex {
    /* width: 399px; */
    height: 42px;
    font-family: 'Josefin Sans';
    font-size: 42px;
    line-height: 49px;
    color: #151875;
    text-align: center;
    padding-top: 58px;
    font-weight: 600px;
}

.shopex-card {
    width: 270px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);

}

.shopex-card img {
    padding-top: 67px;
    /* padding-bottom: 216px; */
    padding-left: 104px;
    padding-right: 102px;
}

.shopex-title {
    text-align: center;
    /* width: 132px; */
    height: 22px;
    font-size: 22px;
    line-height: 26px;
    padding-top: 18px;
    font-weight: 500;
    color: #151875;
}

.shopex-text {
    height: 85px;
    text-align: center;
    padding-left: 27px;
    padding-right: 26px;
    color: rgba(26, 11, 91, 0.3);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.shopex-all-card {
    display: flex;
    column-gap: 28px;
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
}


/* unique feature part */

.unique-part {
    display: flex;
    justify-content: center;
    background: #F1F0FF;
    margin-top: 150px;
}

.unique-title {
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
    width: 507px;
    height: 92px;

}